<template>
  <div class="dz-catalog">
    <h1 style="display: flex; justify-content: space-between; padding: 0 2%">Каталог<input type="text" v-model="searchText" @input="filterProducts" placeholder="Поиск"></h1>
    <div class="dz-catalog__list">
      <dz-catalog-item
          v-for="product in filteredProducts"
          :key="product.article"
          :product_data="product"
          @sendDataToParent="showChildArticleInConsole"
      />
    </div>
  </div>
</template>

<script>
import dzCatalogItem from './dz-catalog-item'
export default {
  name: "dz-catalog.vue",
  components: {
    dzCatalogItem
  },
  props: {},
  data () {
    return {
      "products": [
        {
          image: "1.jpg",
          name: "Футболка",
          price: 2100,
          article: "T1",
          available: true,
          category: "Женские"
        },
        {
          image: "2.jpg",
          name: "Футболка",
          price: 3150,
          article: "T2",
          available: true,
          category: "Женские"
        },
        {
          image: "3.jpg",
          name: "Свитшот",
          price: 4200,
          article: "T3",
          available: false,
          category: "Женские"
        },
        {
          image: "4.jpg",
          name: "Джинсы",
          price: 5300,
          article: "T4",
          available: true,
          category: "Женские"
        },
        {
          image: "5.jpg",
          name: "Куртка",
          price: 6500,
          article: "T5",
          available: false,
          category: "Мужские"
        },
        {
          image: "6.jpg",
          name: "Рубашка",
          price: 8700,
          article: "T6",
          available: true,
          category: "Мужские"
        }
      ],
      searchText: ''
    }
  },
  computed: {
    filteredProducts () {
      let filtered = this.products.filter(product => product.name.toLowerCase().includes(this.searchText.toLowerCase()))
      filtered.sort((a, b) => {
        if (a.price < b.price) {
          return -1;
        }
        if (a.price > b.price) {
          return 1;
        }
        return 0;
      })
      return filtered;
    }
  },
  methods:{
    showChildArticleInConsole(data){
      console.log(data)
    },
    filterProducts () {
      this.$forceUpdate() // необходимо для обновления списка продуктов после изменения текстового поля
    }
  }
}
</script>

<style lang="scss">
.dz-catalog{
  &__list{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      column-gap: 50px;
    }
  }
</style>