<template>
  <div class="dz-catalog-item">
    <img
        class="dz-catalog-item__image"
        :src="require('../assets/images/' + product_data.image)"
        alt="img"
    >
    <p class="dz-catalog-item__name">{{product_data.name}}</p>
    <p class="dz-catalog-item__price">{{product_data.price}} p.</p>
    <button
        class="dz-catalog-item__add-to-cart-btn btn"
        @click="sendDataToParent">Add to cart
    </button>
  </div>
</template>

<script>
export default {
  name: "dz-catalog-item",
  props:{
    product_data: {
      type: Object,
      default(){
        return{}
      }
    }
  },
  data(){
    return{}
  },
  methods: {
    sendDataToParent(){
      this.$emit('sendDataToParent', this.product_data.article)
    }
  }
}
</script>

<style lang="scss">
  .dz-catalog-item{
    flex-basis: 25%;
    box-shadow: 0 0 8px 0 #e8e0e0;
    padding: $padding*2;
    margin-bottom: $margin*2;
    &__image{
      width: 95%;
    }
  }
</style>