<template>
  <div class="dz-main-wrapper">
    <dz-catalog/>
    <dz-cart/>
  </div>
</template>

<script>
  import dzCatalog from './dz-catalog'
  import dzCart from './dz-cart'

  export default {
    name: 'dz-main-wrapper',
    components:{
      dzCatalog,
      dzCart
    },
    props: {},
    data(){
      return {
        title: 'Main wrapper'
      }
    },
    computed: {},
    methods: {},
    watch: {},
  }
</script>

<style>
.dz-main-wrapper{
  max-width: 1200px;
  margin: 0 auto;
}
</style>