<template>
  <div id="app">
    <dz-main-wrapper/>
  </div>
</template>

<script>

import dzMainWrapper from './components/dz-main-wrapper'

export default {
  name: 'App',
  components: {
    dzMainWrapper
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
